*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
}
.header{
     background-color: #1D0F6E;
     color: white;
     font-style: impact;
     gap: 1000px;
     align-items: center;
     justify-content: center;
     display: flex;
     padding-top: 10px;
     padding-bottom: 10px;
}
.telefone{
    text-align: right;
    padding-right: 20px;
    
}
.aviao{
    background-image: url('img/aviao.png');
    align-items: center;
    text-align: center;
    height: 787px;
    background-size: cover;
    background-position: center;
}
.japao{
    width: 350px;
    height: 450px;
    
    
}
.RJ{
    width: 350px;
    height: 450px;
}
.londres{
    width: 350px;
    height: 450px;
}
.pacotes{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Londres{
    text-align: center;
    font-size: 20px;

}
.rj{
    text-align: center;
}
.Japao{
    text-align: center;
}
.lOndres{
    border: 5px solid black;
    margin-right: 10px;
    border-radius: 10px;
    margin-right: 67px;}
.Rj{
    border: 5px solid black;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 20px;

}
.jApao{
    border: 5px solid black;
    margin-right: 10px;
    border-radius: 10px;
    margin-left: 50px;
    font-size: 20px;
}
.CONFIRA{
    text-align: center;
    padding-top: 180px;
    padding-bottom: 180px;
    font-style: impact;
    color: #1D0F6E;
    font-size: 65px;
}
.CONFIRA1{
    padding-bottom: 60px;
    padding-top: 120px;
    color: #1D0F6E;
    text-align: center;
    font-size: 50px;
}
footer{
    background-color: #1D0F6E;
    text-align: center;
    color: white;
    padding-top: 65px;
    padding-bottom: 65px;
    
}
.sonho{
    color: white;
    font-size: 90px;
    padding-top: 50px;
}